<h1>Courses</h1>

{{#if courses.length}}
{{#each courses}}
<div class="row">
  <div class="col l10 m8 s12 offset-s0">
    <div class="card">
      <div class="card-image">
        <img src="{{img}}" alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price-container">Price: <span class="price">{{price}}</span></p>
      </div>
      <div class="card-action actions">
        <a href="/courses/{{id}}" target="_blank">Open a course</a>
        {{#if @root.isAuth}}

        {{#ifeq userId._id @root.userId}}
        <a href="/courses/{{id}}/edit?allow=true">Edit</a>
        {{/ifeq}}

        <form action="/cart/add" method="POST">
          <input type="hidden" name="_csrf" value="{{@root.csrf}}">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}

<p>No courses yet</p>
{{/if}}